<div id="toc_container">
<p class="toc_title">Homeless-Connection</p>
<ul class="toc_list">
  <li><a href="/personal_stories/show">Stories with the homeless</a>
  <ul>
    <li><a href="/ideas_for_home/show">Proposale to curb the Problem</a></li>
  </ul>
</li>
<li><a href="/givings/show">How you can Helpr</a></li>
</ul>
</div>

<center><div id="title_container" class="center">
  <h2>Homeless counter by borough</h2>
</div></center>
  <center>
    <div class="header">
      <% @shelters['data'].each do |s| %>
     snap shot year:<br> <%= s[8] %><br>
    Borough analyized and # of persons counted<br>
      <%= s[9] %>
      <%= s[10] %><hr>
      <% end %>
    </div>
  </center>

