 <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">Logo</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul>
    </div>
  </nav>

<center>
    <div id="title_container">
        <h2>Homelessness is <strong>NOT</strong> a condition<br>but a reality for many</h2>
    </div>
</center>
<div class="row">
    <div class="col l4 m3 s12">
        <div id="title_container">
            <%= form_with model: @personal_stories do |story| %>
            <%= story.label :your_story %>
            <%= story.text_field :story %><br>
            <%= story.submit %>
            <% end %>
        </div>
    </div>
</div>

