// Place all the styles related to the Givings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


select {
    display: block!important;
}

.body-image {
    background-image: url("homepage.jpg");
    height: 100vh;
    width: 100%; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    margin-top: -3.48%;
  }
