// Place all the styles related to the Shelters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#toc_container, #title_container {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #aaa;
    display: table;
    font-size: 95%;
    margin-bottom: 1em;
    padding: 20px;
    width: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.header {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 10px solid black;
    display: table;
    font-size: 80%;
    padding: 10px;
    width: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.toc_title {
    font-weight: 700;
    text-align: center;
}

#toc_container li, #toc_container ul, #toc_container ul li{
    list-style: outside none none !important;
}

.color {
    background-color: rgb(24, 6, 75);
    padding: 10px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.rows {
    background-color: rgb(46, 42, 109);
    padding: 2px;
}

.inner {
    background-color: white;
    border: 5px solid black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.outer {
    background-color: transparent;
    border: 5px solid black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
